// ==========================================================================
// Social Links
// ==========================================================================
.box-social-media {
    border-top: 1px solid $gray-smooth;
    padding: 0.625rem 0;

    .social-media {
        @extend .d-flex;
        @extend .justify-content-between;
        margin: 0 auto;

        a {
            @include social-media-icon(22px, 1.375rem);
        }
        .i-wa-white {
            height: 28px;
            width: auto;
            padding: 5px 8px 5px 33px;
            font-size: 0.813rem;
            background-color: $whatsapp-color;
            background-position: 8px 50%;
            background-size: 17%;
            border-radius: 4px;
            color: $white;
        }
        @include media-breakpoint-up(md) {
            width: 50%;
        }
        @include media-breakpoint-up(lg) {
            width: 30%;
        }
    }
}
